# MySQL host por defecto (Windows local)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=student_hours
DB_USER=root
DB_PASSWORD=rootpassword

# Si estás en Docker, estos valores se sobrescriben automáticamente
DOCKERIZED=false